.profilePage {
  display: flex;
}

.profileCoverPostFriends {
  flex: 9;
}

.profilePicCover {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profileCover {
  width: 100%;
  height: 70%;
}

.profilePhoto {
  height: 144px;
  width: 144px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 50vh;
}

.profileText {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.profileName {
  margin-top: 84px;
}

.profileBio {
  font-weight: 300;
  align-self: center;
  justify-self: c;
}

.profileMain {
  display: flex;
}

.profileFeedFriends {
  flex: 7;
}

.friendsProfile {
  flex: 2;
  padding: 20px 48px;
}

.profileIntro {
  border: 2px solid #ccc;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 24px 0;
}

.profileFriendsTexts {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  justify-content: space-evenly;
  font-size: 16px;
}

.profileFriendsText {
  display: flex;
  justify-content: center;
  width: 108px;
  font-weight: 400;

  cursor: pointer;
  border: 2px solid #ccc;
  padding: 6px 6px;
}

.profileFriendsText:hover {
  background-color: #ccc;
  color: #1877f2;
  font-weight: 500;
}

.profileFriendsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  border: 2px solid #ccc;
}
