.profileMainPage {
  display: flex;
}
.profileSidebar {
  flex: 3;
}
.profileMain {
  flex: 9;
}
.profilePicCover {
  height: 60vh;
  background-color: aquamarine;
}
.profileFeedFriends {
  display: flex;
}
.profileFeed {
  flex: 7;
}
.friendsProfile {
  flex: 2;
  padding: 48px;
}
